PORT=5000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=rcc_stock_management
DB_USER=postgres
DB_PASSWORD=your_postgres_password


JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=7d

COMPANY_EMAIL=your_email_address
COMPANY_PASS=your_app_code
 
# Run this command: 
# npx web-push generate-vapid-keys  
# To get this:

# Public Key:
# xxxxxxxxxxxxxxxx

# Private Key:
# xxxxxxxxxxxxxxxx

VAPID_PUBLIC_KEY=xxxxxxxxxxxxxxxx
VAPID_PRIVATE_KEY=xxxxxxxxxxxxxxxx
VAPID_SUBJECT=mailto:your-email@example.co