<header class="top-header">
    <!-- Left -->
    <div class="header-left">

        <!-- Mobile Menu -->
        <button type="button" class="header-menu-button" id="headerMenuButton" aria-label="Open menu">
            <i class="fa-solid fa-bars"></i>
        </button>

        <!-- Page Information -->
        <div class="header-page-info">
            <h1 id="pageTitle">Dashboard</h1>
            <p id="pageDescription">Overview of Jay Products</p>
        </div>
    </div>

    <!-- Right -->
    <div class="header-right">
        <!-- User -->
        <div class="header-user">
            <div class="header-avatar" id="headerUserAvatar">
            </div>
            <div class="header-user-info">
                <strong id="headerUserName"></strong>
                <span id="headerUserRole">
                </span>
            </div>
        </div>
    </div>
</header>